* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

:root {
    --navbar-height: 60px;
    --nav-bg: rgb(252, 249, 249);
    --nav-text: black;
}



#navbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: var(--navbar-height);
    background: var(--nav-bg);
    position: sticky;
    top: 0;
    z-index: 100;
}


#logo {
     margin-right: 20px;
    border: none;      
    padding: 0;         
    border-radius: 50%;  
    overflow: hidden;  
}

#logo img {
    height: var(--navbar-height);
       height: var(--navbar-height);
    width: var(--navbar-height);
    object-fit: cover;           
    border-radius: 50%; 
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 15px;
}

#navbar ul li a {
    color: var(--nav-text);
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s ease;
}

#navbar ul li a:hover {
    background: var(--nav-text);
     color: #c4a4a4;
}
  .content1{
    width:calc(100% - 120px);
    margin-left: 120px;
    
    
  }
  
  
  #contact{
    position: relative;
   background: darkgray;
   
}
.container{
    width: 91%;
    background: whitesmoke;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #555
   
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #555;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .submit{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .submit input[type="submit"]{
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #555;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .submit input[type="submit"]:hover{
    background: rgb(236, 145, 145);
  }
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: rgb(233, 13, 13);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
}