* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

:root {
    --navbar-height: 60px;
    --nav-bg: rgb(252, 249, 249);
    --nav-text: black;
}
.hh{
  color: black;
    opacity: 0;
    animation: showText 0.5s forwards;
    animation-delay: 0.7s;
  }

  @keyframes showText {
    to { opacity: 1; }
  }


#navbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: var(--navbar-height);
    background: var(--nav-bg);
    position: sticky;
    top: 0;
    z-index: 100;
}


#logo {
     margin-right: 20px;
    border: none;      
    padding: 0;         
    border-radius: 50%;  
    overflow: hidden;  
}

#logo img {
    height: var(--navbar-height);
       height: var(--navbar-height);
    width: var(--navbar-height);
    object-fit: cover;           
    border-radius: 50%; 
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 15px;
}

#navbar ul li a {
    color: var(--nav-text);
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s ease;
}

#navbar ul li a:hover {
    background: var(--nav-text);
     color: #c4a4a4;
     
}

body {
    font-family: "Poppins", sans-serif;
    color: rgb(165, 42, 138)
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 100%;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #2f3338;
  height: 40px;
   position:fixed;
  
}


.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width: 120px;
}



.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}

.nav-item.active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 31px;
    padding-inline: 12px;
    border-radius: 13px;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
}

.search-bar1{
    float: right;
    margin-left: 300px;
    height:(var(--navbar-height))
}
.search-button {
    background-color: rgb(63, 63, 63);
    color:whitesmoke;
    padding: 8px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}



main {
    padding-block: 10px;
    margin-top: 30px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 32%;
    min-height: 400px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--bg-color2);
    overflow: hidden;
    transition: all 0.3s ease;
    color: rgb(36, 29, 29);
}

.card:hover {
    box-shadow: 1px 1px 8px #383b3d;
    background-color: rgb(122, 120, 120);
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 1px;
}

.news-source {
    margin-block: 12px;
}

.side1 {
 margin-left: 12px;
   
  }